# -*- mode: conf-unix; coding: utf-8 -*-
# шаблон имени отправителя ($authenticated_id):название транспорта
*@gmail.com:gmail
*@mail.ru:mailru
*@list.ru:mailru
*@bk.ru:mailru
*@inbox.ru:mailru
*@ya.ru:yandex
*@outlook.com:ms
*@live.com:ms

{% include 'secrets/smarthosts' ignore missing %}
